<head>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

{% extends "base.html" %}
{% block middle %}

    <div id="custom_google_btn" class="g-signin customGPlusSignIn btn-group">
      <a class='btn btn-danger disabled'><i class="fa fa-google-plus" style="width:16px; height:20px"></i></a>
      <a class='btn btn-danger g-overlay' style="width:12em;">Sign in with Google</a>
    </div>


    <div id="fb-root"></div>

    <div class="btn-group fb-container">
        <a class='btn btn-primary disabled'><i class="fa fa-facebook" style="width:16px; height:20px"></i></a>
        <button class='btn btn-primary fb-overlay' style="width:12em">
          Sign in with Facebook
        </button>
    </div>  

    <div class="preloader"></div>

    <div class="alert alert-info status"></div>

{% endblock %}

{% block scripts %}
<script>

    (function(doc, script) {
      var js, 
          fjs = doc.getElementsByTagName(script)[0],
          frag = doc.createDocumentFragment(),
          add = function(url, id) {
              if (doc.getElementById(id)) {return;}
              js = doc.createElement(script);
              js.src = url;
              id && (js.id = id);
              frag.appendChild( js );
          };
          
        add('//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
        // Facebook SDK
        add('//connect.facebook.net/en_US/all.js#xfbml=1&appId=802073163222861', 'facebook-jssdk');
        // Google+ button
        add('//apis.google.com/js/platform.js?onload=start')

        fjs.parentNode.insertBefore(frag, fjs);

        $('.fb-overlay').click(function() {
          FB.login(checkLoginState);
        });

        $(window).load(function() {
          $(".preloader").fadeOut("slow");;
          render_google_btn();
        });
        
    }(document, 'script'));

    function render_google_btn() {
      gapi.signin.render('custom_google_btn', {
          'scope': "openid email",
          'clientid': "263029713888-72n6vph88p7ehsbr0gkjgmnlm7erc1rl.apps.googleusercontent.com",
          'redirecturi': "postmessage",
          'accesstype': "offline",
          'cookiepolicy': "single_host_origin",
          'callback': "signInCallback",
          'approvalprompt': "force"
          });
    }

    // Google Plus sign-in
    function signInCallback(authResult) {
        if (authResult['code']) {
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{state}}',
                processData: false,
                data: authResult['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    if (result) {
                        $('.status').text('Thanks for logging in.')
                                    .css('display', 'table');
                        setTimeout(function() {
                            window.location.href = "/";
                            }, 600);

                    } else if (authResult['error']) {
                        $('.status').text('There was an error: ' + authResult['error'])
                                    .css('display', 'table');
                    } else {
                        $('.status').text('Failed to make a server-side call.')
                                    .css('display', 'table');
                    }
                }
    }); } }

    // Facebook sign-in
    function statusChangeCallback(response) {
        var access_token = FB.getAuthResponse()['accessToken'];
        if (response.status === 'connected') {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
                console.log('Successful login for: ' + response.name);
                $('.status').text('Thanks for logging in.')
                            .css('display', 'table');
                $.ajax({
                    type: 'POST',
                    url: '/fbconnect?state={{state}}',
                    processData: false,
                    data: access_token,
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            setTimeout(function() {
                                window.location.href = "/";
                                }, 600);

                        } else {
                            $('.status').text('Failed to make a server-side call. Check your configuration and console.');
                        }
                    }
                });
            });
        } else if (response.status === 'not_authorized') {
            $('.status').text('Please log into this app.')
                        .css('display', 'table');
        } else {
            $('.status').text('Please log into Facebook.')
                        .css('display', 'table');
        }
    }

    function checkLoginState() {
        console.log('in checkLoginState');
        FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
                });
    }

</script>
{% endblock %}
