{% extends "base.html" %}
{% block middle %}
    {% if item %}
      {% set cat = item.category.name.replace(' ', '_') %}
      {% set iname = item.name.replace(' ', '_') %}
      <form class="as-table" action="{{url_for('editItem', category_name=cat, item_name=iname)}}"
          enctype="multipart/form-data" method = 'POST'>
    {% else %}
      <form class="as-table" action="{{url_for('newItem', category_name=category_name )}}"
        enctype="multipart/form-data" method = 'POST'>
    {% endif %}

    {% if item %}
    <p class="lead">Update item</p>
    {% else %}
    <p class="lead">Create a new item</p>
    {% endif %}

    <div class="form-group form-title">
      <label for="input1">Title</label>
      {% if item %}
        <input type="text" id="input1" class="form-control" value="{{item.name}}" name="name">
      {% else %}
        <input type="text" id="input1" class="form-control" name="name">
      {% endif %}
    </div>

    <div class="form-group form-description">
      <label for="input2">Description</label>
      {% if item %}
        <textarea id="input2" class="form-control" rows="3" name="description">{{item.description|trim}}</textarea>
      {% else %}
        <textarea id="input2" class="form-control" rows="3" name="description"></textarea>
      {% endif %}
    </div>

    <div class="form-group form-category">
      <label for="input3">Category</label>
      <select id="input3" class="form-control" name="category_name">
        {% if item %}
          {% set currentCat = item.category.name %}
          <option>{{currentCat}}</option>
          {% for cat in config['CATEGORIES'] %}
            {% if cat.name != currentCat %}
              <option>{{cat.name}}</option>
            {% endif %}
          {% endfor %}
        {% else %}
          {% for cat in config['CATEGORIES'] %}
            <option>{{cat.name}}</option>
          {% endfor %}
        {% endif %}
      </select>
    </div>

    <div class="form-group">
      <label for="input3">Image</label>
      <input type="file" id="input3" name="image">
      {% if item %}
        <p class="help-block">Current image file: {{item.image.filename}}</p>
      {% else %}
        <p class="help-block">You may optionally provide an image here (max. 2.5MB).</p>
      {% endif %}

      {% if item and item.image.filename %}
        <img src="/static/{{item.image.filename}}" class="thumbnail img-resp">
      {% endif %}
    </div>

    {% if item %}
        <button type="submit" class="btn btn-default btn-edit">
          <i class="fa fa-refresh"></i>Update
        </button>
    {% else %}
        <button type="submit" class="btn btn-default btn-edit">
          <i class="fa fa-upload"></i>Create
        </button>
    {% endif %}

  </form>
{% endblock %}
